
#copyright{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-align: left;
  color: #fff;
  display: inline;
}


#footer img{
  width:28px;
  height: 28px;
  padding-left: 3px;
  padding-right: 3px;
  display: inline;
}


.col-flex-container{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
